<!-- product-get.component.html -->

<table class="table table-hover">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Product Description</td>
            <td>Product Price</td>
        </tr>
    </thead>

    <tbody>
        <tr style="cursor:pointer" [routerLink]="['/product', product._id]" *ngFor="let product of products">
            <td>{{ product.ProductName }}</td>
            <td>{{ product.ProductDescription }}</td>
            <td>{{ product.ProductPrice }} EUR</td>
        </tr>
    </tbody>
</table>