
<div style="text-align: center;">
    <h1>Gui's Examples</h1>
</div>    

<h2>Divider</h2>

<mat-list style="background-color: green;">
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider style="color:black;"></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
  

<h2>Slide-Toggle</h2>
<mat-slide-toggle>Slide me!</mat-slide-toggle>

<h2>Buttons</h2>
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>

  