<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/index.html">Sakumlapa</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:8000/nav-links/exch.html">Chart#1</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:8000/nav-links/exch2.html">Chart#2</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/nav-links/slider.html">Slider</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/nav-links/table.html">Table</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/nav-links/image.html">Image</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/nav-links/headings.html">Headings</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/nav-links/links.html">Links</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:8000/nav-links/lists.html">Lists</a>
    </li>
  </ul>
</nav>
